.perseusld_elided {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.perseusld_elided:after {
    content:"Full Text";
    float:right;
    color: blue;
}

.perseusld_elided.perseusld_fulltext {
   overflow: auto;
   text-overflow: auto;
   white-space: normal;    
}
.perseusld_elided.perseusld_fulltext:after {
   content:"Close";
   float:right;
   color: blue;
}