.oac_annotation {
	padding-bottom: 20px;
	margin-bottom: 5px;
}
.oac_annotation .oac_annotation_uri {
	font-size: 10px;
}
.oac_annotation .metadata {
	float: right;
}
.oac_annotation .oac_motivation {
	color: #888;
	display: inline-block;
	margin-right: 5px;
}
.oac_annotation .clear {
	clear:both;
}
.loading {
	background-image:url('../img/waiting.gif');
	background-repeat: no-repeat;
	height: 1.5em;	
	width: 256px;
}
